In [4]:
def first():
    print("First Function")

In [5]:
first()

First Function

In [7]:
def second():
    return 2

In [8]:
second()

2

In [10]:
def third():
    return "Returning String"

In [17]:
def arg(a,b,c):
    """Function to find function value of a,b,c"""
    result=(a+b)/c
    return result

# Argument Passing

In [18]:
third()

'Returning String'

In [16]:
print("Enter value of a, b, c:")
a=int(input())
b=int(input())
c=int(input())
arg(a,b,c)

Enter value of a, b, c:
2
3
6

0.8333333333333334

In [6]:
def fn(*argu):
    return argu

In [8]:
fn(3,4,"prav")

(3, 4, 'prav')

In [20]:
def dictionary(**ar):     #Creating Dictionary
    return ar

In [21]:
dictionary()

{}

In [22]:
type(dictionary())

dict

In [23]:
dictionary()

{}

In [1]:
newlist=[1,2,3,"pra","jos",[1,2,3,5]]

In [7]:
def extr(a):
    """this function extracts numeric data from list"""
    l=[]
    for i in a:
        if type(i)==int:
            l.append(i)
    return l

In [8]:
newlist=[1,2,3,"pra","jos",[1,2,3,5]]
extr(newlist)

[1, 2, 3]

# Lambda Function

In [10]:
range(10)

range(0, 10)

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
def fin(n):                                #Fibonacci Series
    a,b=0,1
    for i in range(n):
        yield a                             #Generator Function
        a,b=b,a+b

In [14]:
fin(14)

In [17]:
for i in fin(14):
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [20]:
st="praveen"

In [21]:
for i in st:
    print(i)

p
r
a
v
e
e
n

In [22]:
number=1234

In [23]:
for i in number:
    print(i)

TypeError: 'int' object is not iterable

In [36]:
no=iter(number)                                    #Cannot convert number to iterable

TypeError: 'int' object is not iterable

In [26]:
stt=iter(st)

In [27]:
next(stt)

'p'

In [28]:
next(stt)

'r'

In [29]:
next(stt)

'a'

In [30]:
next(stt)

'v'

In [31]:
next(stt)

'e'

In [32]:
next(stt)

'e'

In [33]:
next(stt)

'n'

In [34]:
next(stt)

StopIteration:

#Only iterable is converted into iterator
'''Integer is not iterable'''

In [42]:
def powe(n,p):
    ans=n**p
    print(ans)

In [43]:
powe(2,3)

8

In [45]:
k=lambda a,b,c : a+b+c              #One liner lambda function

In [46]:
k(2,1,1)

4

# Map

In [2]:
l=[2,4,5,6]

In [3]:
def cube(x):                              #Function Written for Cube 
    return x*x*x

In [5]:
list(map(cube,l))

[8, 64, 125, 216]

In [17]:
l1=[2,3,5,67]
l2=[23,45,2,89,90]                        #See here one elemnt is extra

In [18]:
a=map(lambda x,y: x+y,l1,l2)

In [19]:
list(a)

[25, 48, 7, 156]

In [20]:
name="praveen"

In [22]:
b=map(lambda name: name.upper(),name)

In [23]:
list(b)

['P', 'R', 'A', 'V', 'E', 'E', 'N']

In [26]:
str(b)

<map object at 0x0000026149556C20>

# Reduce

In [2]:
from functools import reduce

In [4]:
mu=[2,5,3,6,8]

In [6]:
reduce(lambda x,y,z:(x+y)/z,mu)                 #Only Two Parameters are Allowed

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [7]:
reduce(lambda x,y:x*y,mu)

1440

In [8]:
salary=[122,15,13,566,78]

In [11]:
reduce(lambda x,y: x if x>y else y,salary)     #Finding Greatest Number

566

# Filter

In [12]:
names=["praveen","rahul","ramesh","amit"]

In [17]:
list(filter(lambda x: len(x)<6,names))

['rahul', 'amit']